/*Transition added*/
.btn-xl, .fa-inverse, .team-member img, .navbar-default .nav li a, .timeline-image {
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}
/*------------------------------------------------------------------------------------*/
.btn-xl{
    background-color: #2B88D9;
    border-color: #2B88D9;
}
.btn-xl:hover,.btn-xl:focus,.btn-xl:active{
    background-color: #0F73C8;
    border-color: #337ab7;
}
.text-glow,.text-glow:hover,.text-glow:focus,.text-glow:active {
    text-shadow: 1px 1px 10px black;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    border-radius: 5px;
    background: rgba(43,136,217,0.3);
}
.fa-inverse:hover{
    text-shadow: 1px 1px 10px black;
}
section{
    padding: 100px 0px;
}
.team-member img:hover {
    box-shadow: 1px 1px 20px #337ab7;
}
.navbar-default .nav li a {
    text-shadow: 1px 1px 2px black;
}
.timeline-image:hover{
    box-shadow: 1px 1px 5px #337ab7;
}
ul.social-buttons li .disabled-link, ul.social-buttons li .disabled-link:hover {
    background-color: lightgrey;
}
